<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" />

  </head>
  <body>
    <script type="text/x-handlebars" data-template-name="application" >
      <div class="container">
        <div class="row">
          <div class="span3">
            <a href="/"><img src="http://dummyimage.com/150x150/000/fff.png&text=faj" /></a>
            <hr />
            {{view App.AuthView}}
          </div>
          <div class="span9">
            <ul class="nav nav-pills">
              <li>{{#linkTo 'users'}}Show all users{{/linkTo}}</li>
              <li>{{#linkTo 'jobs'}}Show all jobs{{/linkTo}}</li>
            </ul>
            {{outlet}}
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="auth" >
      {{#if App.Auth.signedIn}}
        {{view App.AuthSignOutView}}
      {{else}}
        {{view App.AuthSignInView}}
      {{/if}}
    </script>

    <script type="text/x-handlebars" data-template-name="sign-in" >
      <form>
        <label>Email</label>
        {{view Ember.TextField valueBinding="view.email"}}
        <label>Password</label>
        {{view Ember.TextField type='password' valueBinding="view.password"}}
        <hr />
        <button {{action "submit"}}>Sign In</button>
      </form>
    </script>

    <script type="text/x-handlebars" data-template-name="sign-out" >
      <form>
        <button {{action "submit"}}>Sign out</button>
      </form>
    </script>

    <script type="text/x-handlebars" data-template-name="users" >
      <h3>Users list</h3>
      <div class="row">
        <div class="span3">
          <p>
            {{#linkTo 'users.new' classNames="btn btn-primary btn-small"}}Create new user{{/linkTo}}
          </p>
          <table class="table">
          {{#each model}}
            <tr><td>
            {{#if isAuthenticated}}
              *
            {{/if}}
            {{#linkTo 'user' this}}{{realname}}{{/linkTo}}
            </td></tr>
          {{/each}}
          </table>
        </div>
        <div class="span6">
          {{outlet}}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name='user'>
      {{#if isAuthenticated}}
        This is you
      {{/if}}
      <h4>{{username}}</h4>
      <h2>{{realname}}</h2><small class="muted">{{created_at}}</small>
      <hr />
      {{partial 'user/edit'}}
    </script>

    <script type="text/x-handlebars" data-template-name='user/_edit'>
      <p>{{view Ember.TextField valueBinding='username'}}</p>
      <p>{{view Ember.TextField valueBinding='realname'}}</p>
      <p>{{view Ember.TextField valueBinding='avatar'}}</p>
      <button {{action 'saveUser'}}>Save!</button>
    </script>

    <script type="text/x-handlebars" data-template-name="jobs" >
      <h3>Jobs list</h3>
    </script>

    <script type="text/x-handlebars" data-template-name="users/new">
      <table class="table">
      <tr><td>Nickname:</td><td>{{view Ember.TextField valueBinding="username"}}
      <tr><td>Real name:</td><td>{{view Ember.TextField valueBinding="realname"}}</td>
      <tr><td>Email:</td><td>{{view Ember.TextField valueBinding="email"}}</td>
      <tr><td>Avatar:</td><td>{{view Ember.TextField valueBinding="avatar"}}</td>
      <tr><td>Password:</td><td>{{view Ember.TextField valueBinding="password"}}</td>
      </table>
      <button class="btn btn-success" {{action "createUser" }}>Save</button>
    </script>


    <script type="text/javascript" src="js/libs/jquery-1.9.1.js" ></script>
    <script type="text/javascript" src="js/libs/handlebars-1.0.0-rc.3.js" ></script>
    <script type="text/javascript" src="js/libs/ember-1.0.0-rc.3.js" ></script>
    <script type="text/javascript" src="js/libs/ember-data-latest.js" ></script>
    <script type="text/javascript" src="js/libs/ember-auth.min.js" ></script>
    <script type="text/javascript" src="js/libs/ember-pagination.js" ></script>
    <script type="text/javascript" src="js/app.js" ></script>
    <script type="text/javascript" src="js/models.js" ></script>
    <script type="text/javascript" src="js/controllers.js" ></script>
    <script type="text/javascript" src="js/routes.js" ></script>
    <script type="text/javascript" src="js/views.js" ></script>
    <script type="text/javascript" src="js/handlebars_helpers.js"></script>
  </body>
</html>